:root {
    --background-color: #faf5ef;
    --accent-color: #333;
    --shade-color: #555;
    --hyperlink-color: #005f69;
}

@font-face {
    font-family: "HALTimezone";
    src: url("../assets/HALTimezone-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HALTimezone";
    src: url("../assets/HALTimezone-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

body {
    font-family: "HALTimezone", "EB Garamond", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added to ensure content is centered within the body */
    width: 100%; /* Full width */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    margin: 0;
}

.me {
    display: flex;
    width: 80%;
    max-width: 300px;
    padding: 10%;
    font-size: 30pt;
    animation: drawSnake 4s linear forwards;
}

@keyframes drawSnake {
    0% {
        color: transparent;
    }
    25% {
        color: rgba(50, 0, 0, 0.25);
    }
    50% {
        color: rgba(0, 95, 0, 0.5);
    }
    75% {
        color: rgba(0, 0, 105, 0.75);
    }
    100% {
        color: var(--hyperlink-color);
    }
}

a {
    color: var(--hyperlink-color);
}

.trademark-text {
    max-width: 100vh;
    /* height: 8vh; */
    font-size: 8pt;
}
